@import '../../index';

.Expense {
  min-height: 90vh;
  display: flex;
  position: relative;

  .ExpenseMain {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;

    .ExpenseHeader {
      display: flex; 
      justify-content: space-between;
      align-items: center;

      button {
        background: $primary-color;
        min-width: 150px;
        padding: 15px 20px;
        color: white;
        z-index: 1;
        font-weight: 700;
        border-radius: 3px;
        font-size: .9rem;
        text-transform: uppercase;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
        transition: .5s;

        &:hover {
          background: darken($primary-color, 15%);
        }
      }
    }

    .ExpenseDetails {

      h1 {
        font-size: 2rem;
      }

      .ExpenseList {
        padding: 1rem;

        h2 {
          
          font-size: .9rem;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
          font-weight: 600;
          letter-spacing: .5px;
          color: $text-color;
        }

        .center {
          text-align: center;
          margin-bottom: 20px;
        }
 
         button {
           position: absolute;
           bottom: 0;
           right: 0;
           background: none;
           width: 175px;
           padding: 10px 20px;
           color: #f7f7f7;
           z-index: 1;
           font-weight: 700;
           border-radius: 3px;
           font-size: .9rem;
           text-transform: uppercase;
           font-family: 'Encode Sans Semi Condensed', sans-serif;
           transition: .5s;
           border: none;
           background: $dashboard-menu;
           
           &:hover {
             background: darken($dashboard-menu, 5%);
             
           }
         }

        .ExpenseSearch {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 20px;
          position: relative;

          input {
            width: 40%;
            padding: .5rem;    
            font-family: 'Encode Sans Semi Condensed', sans-serif;
            letter-spacing: .5px;
            color: $dashboard-menu;
            border-radius: 5px;
            border: 0;
            border: 1px solid #DDDDDD;
            text-indent: 30px;
            
          }

          input::placeholder {
            color: $dashboard-menu;
          }

          img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 8px;
            left: 10px;
          }
        }

        .HeadingRow {
          width: 100%;
          border-top: 1px solid #DDDDDD;
          padding-top: 15px;
          padding-bottom: 15px;
          margin: 0;
        }

        .ExpenseLog {
          font-size: .8rem;

          h2  {
            font-size: .9rem;
            text-transform: none;
          }

          
        }

        .HeadingRow > div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }

  .ExpenseCard {
    height: 250px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, $primary-color 0%, #FF698B 100%);

    h3 {
      font-weight: 800;
      font-size: 5rem;
      letter-spacing: -1px;
      color: #fff;

      span {
        font-family: 'Encode Sans Semi Condensed', sans-serif;
      }
    }
  }

  .ToggleOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .AddExpenseModule {
      min-width: 40vw;
      min-height: 400px;
      background: #eee;
      border-radius: 3px;
      padding: 1rem;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    }
  }
}

@media screen and (max-width: 767px) {

  .Expense .ExpenseMain .ExpenseDetails .ExpenseList .ExpenseLog {
    position: relative;
  }

  .Expense .ExpenseCard {
    max-width: 352px;
    margin: 20px auto;
  }


  .Expense .ExpenseMain .ExpenseDetails .ExpenseList .ExpenseLog .ExpenseCategory i {
    margin-bottom: .5rem;
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  

  .Expense .ExpenseMain .ExpenseDetails .ExpenseList .ExpenseLog h2 {
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }

  .Expense .ExpenseMain .ExpenseDetails .ExpenseList .ExpenseLog {
    font-size: 1.15rem;
  }

  .Expense .ExpenseMain .ExpenseDetails .ExpenseList .ExpenseSearch input {
    width: 70%;
  }

  .Expense .ExpenseMain .ExpenseDetails .ExpenseList .ExpenseLog .ExpenseCategory {
    position: absolute;
    right: 0;
    top: 15px;
    width: 100%;
    justify-content: flex-end;
  }

  .Expense {
    .col-12 {
      padding: 0;
    }
  }

  .MobilePosition {
    position: relative;
  }

  .MobileNone {
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .Expense {
    padding-top: 120px;

    .ExpenseMain {
      padding-top: 275px;
    }

    .ExpenseCard  {
      width: 45%;
      max-width: 352px;
    }
  }

  .MobileExpense {
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 992px) {
  .Expense {
    min-height: 90vh;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .Expense {
    padding: 100px 0 0 0;
  }
}

.ExpenseCategory {
  display: flex;

  i {
    margin-right: 15px;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
  }

}