@import '../../index';

.Income {
  min-height: 90vh;
  display: flex;
  position: relative;

  .IncomeMain {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;

    .IncomeHeader {
      display: flex; 
      justify-content: space-between;
      align-items: center;

      button {
        background: $secondary-color;
        min-width: 150px;
        padding: 15px 20px;
        color: white;
        z-index: 1;
        font-weight: 700;
        border-radius: 3px;
        font-size: .9rem;
        text-transform: uppercase;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
      }
    }

    .IncomeDetails {

      h1 {
        font-size: 2rem;
      }

      .IncomeList {
        padding: 1rem;

        h2 {
          text-transform: uppercase;
          font-size: .9rem;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
          font-weight: 600;
          letter-spacing: .5px;
          color: $text-color;
        }

        .IncomeSearch {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 20px;

          input {
            width: 40%;
            padding: .5rem;
            text-transform: uppercase;
            font-family: 'Encode Sans Semi Condensed', sans-serif;
            letter-spacing: .5px;
            color: #DDDDDD;
            border-radius: 5px;
            border: 0;
            border: 1px solid #DDDDDD;
          }
        }

        .HeadingRow {
          width: 100%;
          border-top: 1px solid #DDDDDD;
          border-bottom: 1px solid #DDDDDD;
          padding-top: 15px;
          padding-bottom: 15px;
          margin: 0;
        }
      }
    }
  }

  .IncomeCard {
    height: 30vh;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-color;
    font-family: 'Encode Sans Semi Condensed', sans-serif;

    h3 {
      font-weight: 800;
      font-size: 5rem;
      letter-spacing: -1px;
      color: #fff;

      span {
        font-family: 'Encode Sans Semi Condensed', sans-serif;
      }
    }
    
  }

  .ToggleOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}