@import '../../index';

.Income {
  min-height: 90vh;
  display: flex;
  position: relative;

  .IncomeMain {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;

    .IncomeHeader {
      display: flex; 
      justify-content: space-between;
      align-items: center;

      button {
        background: $secondary-color;
        width: 175px;
        padding: 15px 20px;
        color: white;
        z-index: 1;
        font-weight: 700;
        border-radius: 3px;
        font-size: .9rem;
        text-transform: uppercase;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
        transition: .5s;
        border: none;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);

        &:hover {
          background: darken($secondary-color, 10%);
        }
      }
    }

    .IncomeDetails {

      h1 {
        font-size: 1.75rem;
        font-weight: 600;
      }

      .IncomeList {
        padding: 1rem;

        h2 {     
          font-size: .9rem;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
          font-weight: 600;
          letter-spacing: .5px;
          color: $text-color;
        }
        
       .center {
         text-align: center;
         margin-bottom: 20px;
       }

        button {
          position: absolute;
          bottom: 0;
          right: 0;
          background: none;
          width: 175px;
          padding: 10px 20px;
          color: #f7f7f7;
          z-index: 1;
          font-weight: 700;
          border-radius: 3px;
          font-size: .9rem;
          text-transform: uppercase;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
          transition: .5s;
          border: none;
          background: $dashboard-menu;
          
          &:hover {
            background: darken($dashboard-menu, 5%);
            
          }
        }

        .IncomeSearch {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 20px;
          position: relative;

          input {
            width: 40%;
            padding: .5rem;    
            font-family: 'Encode Sans Semi Condensed', sans-serif;
            letter-spacing: .5px;
            color: $dashboard-menu;
            border-radius: 5px;
            border: 0;
            border: 1px solid #DDDDDD;
            text-indent: 30px;
          }

          input::placeholder {
            color: $dashboard-menu;
          }

          img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 8px;
            left: 10px;
          }
        }

        .HeadingRow {
          width: 100%;
          border-top: 1px solid #DDDDDD;
          padding-top: 15px;
          padding-bottom: 15px;
          margin: 0;
        }

        .IncomeLog {
          font-size: .8rem;

          h2  {
            font-size: .9rem;
            text-transform: none;
          }

        
        }

        .HeadingRow > div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }

  .IncomeCard {
    height: 250px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, $secondary-color 0%, #38f9d7 100%);
    font-family: 'Encode Sans Semi Condensed', sans-serif;

    h3 {
      font-weight: 800;
      font-size: 3.75rem;
      letter-spacing: -1px;
      color: #fff;

      span {
        font-family: 'Encode Sans Semi Condensed', sans-serif;
      }
    }
    
  }

  .ToggleOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

#DeleteLog {
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: .5s;
}

#DeleteLog:hover {
  color: #35BAA0;
}

@media screen and (max-width: 767px) {

  .more-pd {
    padding-bottom: 50px !important;
  }

  .IncomeHeader {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .IncomeHeader h1 {
    margin-bottom: 15px;
  }

  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeLog {
    position: relative;
  }

  .Income .IncomeCard {
    max-width: 352px;
    margin: 20px auto;
  }


  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeLog .IncomeCategory i {
    margin-bottom: .5rem;
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  

  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeLog h2 {
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }

  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeLog {
    font-size: 1.15rem;
  }

  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeSearch input {
    width: 100%;
    margin-bottom: 25px;
  }

  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeSearch {
    flex-direction: column;
  }

  .Income .IncomeMain .IncomeHeader button {
    width: 100%;
    margin-bottom: 5px;
  }

  .Income .IncomeMain .IncomeDetails .IncomeList .IncomeLog .IncomeCategory {
    position: absolute;
    right: 0;
    top: 15px;
    width: 100%;
    justify-content: flex-end;
  }

  .Income {
    .col-12 {
      padding: 0;
    }
  }

  .MobilePosition {
    position: relative;
  }

  .MobileNone {
    display: none;
  }

  .IncomeLog:last-of-type {
    padding-bottom: 50px !important;
  }

  .Income .IncomeMain .IncomeDetails .IncomeList button {
    width: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .Income {
    padding-top: 120px;

    .IncomeMain {
      padding-top: 275px;
    }

    .IncomeCard  {
      width: 45%;
      max-width: 352px;
    }
  }

  .IncomeLog:last-of-type {
    padding-bottom: 50px !important;
  }

  .MobileIncome {
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 992px) {
  .Income {
    min-height: 90vh;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .Income {
    padding-top: 100px;
  }
}

.IncomeCategory {
  display: flex;
  align-items: center;

  i {
    margin-right: 15px;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
  }
}


.Income .IncomeMain .IncomeDetails .IncomeList .IncomeLog:nth-child(even) {
  background: #eee;
}