@import '../../index';

.Navigation {
  min-width: 100vw;
  display: flex;
  background: #FBFBFB;
  border-bottom: 1px solid #ccc;
  height: 12vh;

  .NavigationMenu {
    background: #3B3F44;
    min-width: 7vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: #64686C;
      font-size: 2.25em;
    }
  }


  .NavigationLinks {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem 0 2rem;
    display: flex;
    justify-content: space-between;
    

    img {
      width: 3.75rem;
      height: 3.75rem;

    }
 
    .NavigationUser {
      width: 160px;
      background: #F0F0F0;
      padding: .5rem 1.5rem;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    

      button {
        background: none;
        border: none;

        i {
          color: $secondary-color;
          cursor: pointer;

        }
      }
      .DashboardDrop {
        width: 100%;
        background: white;
        position: absolute;
        bottom: -90px;
        right: 0;
        padding: .25rem;
        min-height: 80px;

        button:hover {
          color: $primary-color;
        }
      }
    }
  }
}
