@import '../../index';

.Navigation {
  min-width: 100vw;
  display: flex;
  background: #FBFBFB;
  border-bottom: 1px solid #ccc;
  height: 11vh;

  .NavigationMenu {
    background: #FBFBFB;
    min-width: 6vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  @media screen and (max-width: 991px) {
    .NavigationMenu {
      display: none;
    }
  }


  .NavigationLinks {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem 0 2rem;
    display: flex;
    justify-content: space-between;

    .NavigationLogo {


      a {
        display: flex; 
        align-items: center; 
      }

      a:hover {
        text-decoration: none;
      }

      img {
        width: 3.25rem;
        height: 3.25rem;
        margin-right: 15px;
      }

      h1 {
        font-size: 1.75rem;
        letter-spacing: -.1rem;
        color: #253039;
        font-weight: 800;
      }
    }
  


 
    .NavigationUser {
      width: 160px;
      background: #F0F0F0;
      padding: .5rem 1.5rem;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    

      button {
        background: none;
        border: none;

        i {
          color: $secondary-color;
          cursor: pointer;

        }
      }
      .DashboardDrop {
        width: 100%;
        background: white;
        position: absolute;
        bottom: -90px;
        right: 0;
        padding: .25rem;
        min-height: 80px;

        button:hover {
          color: $primary-color;
        }
      }
    }
  }
}
