@import '../../index';

header {
  min-width: 100vw;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 15rem;

    h1 {
      font-size: 1.75rem;
      padding-left: .75rem;
      letter-spacing: -.1rem;
      color: $text-color;
      font-weight: 800;
    }

    img {
      width: 50px;
      height: 50px;
     
      
    }
  }

  nav {
    min-width: 275px;


    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        color: $text-color;
      }

      a:hover {
        color: $primary-color;
        text-decoration: none;
      }

      li {
        list-style-type: none;
        font-size: .75rem;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      li:hover {
        color: white;
        transition: .7s;
      }
      
      button {
        min-width: 100px;
        background: $primary-color;
        padding: 12px 15px;
        border: 1px solid #C3003E;
        font-size: .8rem;
        border-radius: 3px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
      }

      button:hover {
        background: #C3003E;
        transition: .7s;
      }
    }
  }
}

.LoginStyling {
  background: #fff;
  border: 1px solid #ccc;
}
