@import '../../index';

.Dashboard {
  min-height: 90vh;
  position: relative;
  display: flex;
  background-image: linear-gradient(135deg,#F3F3F3 55%,#E3E4E4 0);

  .DashboardMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    .DashboardDetails {
      margin-bottom: 15px;

      h1 {
        font-size: 1.5rem;
      }
    }

    .DashboardModule {
      min-height: 250px;
      margin-bottom: 20px;
      border-radius: 3px;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      #SpendingHeader {
        right: 250px;
      }

      @media screen and (max-width: 991px) {
        #SpendingHeader {
          right: 0 !important;
        }
      }

      h2 {
        padding: 1rem;
        color: #fff;
        font-weight: 700;
        font-size: 56px;
        position: absolute;
        top: 0;
        right: 0;
        font-family: 'Encode Sans Semi Condensed', sans-serif;

        span {
          font-family: 'Encode Sans Semi Condensed', sans-serif;
        }
      }

      h3 {
        color: #fff;
        padding-right: 1rem;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .9rem;
        letter-spacing: .2px;

        span {
          font-weight: 400;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
        }
      }

      img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 30px;
        top: 25px;

      }

      .ModuleFooter {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: .5rem 1rem;
        text-transform: uppercase;
        color: white;
        letter-spacing: .5px;
        font-size: .8rem;
        border-bottom-left-radius: 3px;
	      border-bottom-right-radius: 3px;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
          color: #fff;
        }

        a:hover {
          text-decoration: none;
        }

        h4 {
          font-weight: 600;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
        }
      }
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
      .DashboardModule {
        height: 22vh;
      }
    }

    #Balance {
      background-image: linear-gradient(to bottom right, $primary-accent 0%, #00f2fe 100%);
    } 

    #BalanceDarken {
      background: darken($primary-accent, 10%);
    }

    #Income {
      background-image: linear-gradient(to bottom right, $secondary-color 0%, #38f9d7 100%);
    }

    #IncomeDarken {
      background: darken($secondary-color, 10%);
    }

    #Expenses {
      background: linear-gradient(to bottom right, $primary-color 0%, #FF698B 100%);     
    }

    #ExpensesDarken {
      background: darken($primary-color, 15%);
    }

    #SpendingGraph {
      background: #1E1F22;
    }

    #SpendingDarken {
      background: darken(#1E1F22, 20%);
    }

    #Calendar {
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }

    #CalendarDarken {
      background: #1E1F22;
    }
  }
}

@media screen and (max-width: 767px) {
	.DashboardMain {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .Dashboard {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .Dashboard .DashboardMain {
    padding: 4rem;
  }
}