@import '../../index';

footer {
  padding: 2rem;
  border-top: 1px solid #ccc;
  

  h4 {
    font-weight: 600;
    padding: .5rem 0;
    margin-top: .25rem;
    font-size: 1.25rem;
    text-align: center;
  }
  
  ul {

    margin: 0 auto;
    width: 50%;

    li {
      cursor: pointer;
      font-size: .9rem;
      list-style-type: none;
      margin-bottom: .5rem;
    }

  }

  li:hover {
    color: $primary-accent;
  }

  .PrimaryAccent {
    color: $primary-accent;
  }

  .SecondaryAccent {
    color: $secondary-accent;
  }

  .SecondaryText {
    color: $secondary-color;
  }

  .PrimaryText {
    color: $primary-color;
  }
}
