@import '../../index';


.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60%;

  input {
    display: block;
    width: 90%;
    padding: .75rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .input-feedback {
    color: $primary-color; 
    margin: .5rem 0 1rem 0;
    text-align: left;
    width: 90%;
  }

  .no-error {
    margin: .5rem 0 1rem 0;
  }

  .SubmitLogin {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding-top: 2rem;

    button {
      padding: 1rem 4rem;
      background: $primary-color;
      color: #fff;
      font-weight: 700;
      font-size: .9rem;
      font-family: 'Encode Sans Semi Condensed', sans-serif;
      text-transform: uppercase;
    }

    button:hover {
      transition: .7s;
    }
  }

  #RegisterButton {
    justify-content: center;
    padding-top: 0;
  }
}


