@import './index';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  box-sizing: border-box;
	line-height: 1.25;
	font-family: 'Nunito Sans', sans-serif;
}

button {
	border: none;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
}

.App {
	min-height: 100vh;
	background: #F5F6FA;
}

body {
	font-weight: 300;
	color: $text-color;
}

a:hover {
	color: $primary-accent;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1000px !important;
	}
}

.react-calendar__month-view {
	display: none;
}

.react-calendar__navigation__arrow react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar {
	width: 100%;
	height: 100%;
	border: none !important;
	background: none;

}

.react-calendar__navigation button {
	background: #1E1F22;;
	width: 20%;
}

.react-calendar__navigation {
	background: #1E1F22;
	height: 100% !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.react-calendar__navigation__prev2-button {
	display: none;

}

.react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__navigation__label {
	color: #fff;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.react-calendar__navigation__arrow {
	color: #fff;
}

.react-calendar__month-view {
	display: none;
}

.react-calendar__year-view {
	display: none;
}

.react-calendar__decade-view {
	display: none !important;
}

.react-calendar__century-view {
	display: none !important;
}

.react-calendar__navigation__label {
	pointer-events: none;
}

.react-calendar__navigation__arrow:hover {
	background: #1E1F22 !important;
	color: #35BAA0;
}

.react-calendar__navigation__arrow:active {
	background: #1E1F22 !important;
}

.react-calendar__navigation__arrow:focus {
	background: #1E1F22 !important;
}

.rc-pagination-item {
	display: none !important;
}

.chartjs-render-monitor {
	display: block;
	height: 350px !important;
	width: 350px !important;
}